.question {
    display: flexbox;
}
.option{
    display: flexbox;
}
.question > span {
    font-weight: 600;
}

#main-quote{
    position: relative;
    margin-left: 0;
    background-color: azure;
    height: 40px;
    display: block;
    margin-left: 8px;
}

#main-quote > p{
    padding-top: 10px;
    font-weight: 600;
    
}
.block{
    position: absolute;
    block-size: 10px;
    writing-mode: vertical-rl;
    background-color: green;
    height: 40px;
}